* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* Barra superior */
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* Contenedor de logos */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
	padding:0 30px 0 30px;
}

/* Información del banner */
#banner-info {
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* Selector de tamaño */
#panel select {
    padding: 8px;
    font-size: 16px;
}

/* Contenedor principal */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; /* Espacio para la barra superior */
}

/* Contenedor del banner */
#banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
    min-height: 100px;
}

/* Estilo del iframe */
#banner {
    border: none;
    overflow: hidden;
}
