* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column; /* Alinear elementos verticalmente */
}

#top-bar {
    background-color: #f0f0f0; /* Color de fondo para la barra superior */
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around; /* Distribuir espacio entre elementos */
    align-items: center;
    position: fixed; /* Fijar la barra en la parte superior */
    top: 0;
    left: 0;
    z-index: 10; /* Asegurar que la barra esté por encima del contenido */
}

#top-bar .logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#top-bar .logo-container img {
    height: 40px; /* Altura de los logos */
}

#top-bar #previsualizador-text{
    font-weight: bold;
    font-size: 30px;
    margin-left: 270px;
}

#container {
    display: flex;
    align-items: center; /* Centrar el banner */
    flex-direction: column;
    width: 100%; /* Ocupar todo el ancho disponible */
    padding-top: 80px; /* Espacio para la barra superior */
}

#info-selector-container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 20px;
}
#banner-info {
    font-weight: 600;
    margin-right: auto; /* Empujar el selector hacia la derecha */
}

#banner-info p{
    margin: 5px;
}

#selector-vertodos-container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto; /* Empujar el selector hacia la derecha */
}

#size-selector {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
}

#ver-todos{
    padding: 6px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

#banner-container {
    width: auto; /* Ajuste automático del ancho */
    max-width: 100%; /* Ancho máximo del 100% del contenedor padre */
    height: auto; /* Ajuste automático del alto */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Borde gris */
    overflow: hidden; /* Evita que el iframe sobresalga del contenedor */
}

#banner {
    border: none;
}

#all-banners-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los banners se envuelvan en varias líneas */
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.banner-item {
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    #info-selector-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #selector-vertodos-container {
        margin-left: 0;
        margin-top: 10px;
    }

    #banner-container {
        margin-top: 20px;
    }
    #top-bar #previsualizador-text{
        font-size: 20px;
        margin-left: 0;
    }
}